<web-app>

	<servlet>
		<servlet-name>Onload</servlet-name>
		<servlet-class>com.ggv.ayurveda.OnPageLoad</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Onload</servlet-name>
		<url-pattern>/Onload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SearchPlants</servlet-name>
		<servlet-class>com.ggv.ayurveda.SearchPlants</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchPlants</servlet-name>
		<url-pattern>/SearchPlants</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Viewer</servlet-name>
		<servlet-class>com.ggv.ayurveda.Viewer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Viewer</servlet-name>
		<url-pattern>/Viewer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DisplayRecentSearch</servlet-name>
		<servlet-class>com.ggv.ayurveda.DisplayRecentSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayRecentSearch</servlet-name>
		<url-pattern>/DisplayRecentSearch</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddSearchSuggestion</servlet-name>
		<servlet-class>com.ggv.ayurveda.AddSearchSuggestion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddSearchSuggestion</servlet-name>
		<url-pattern>/AddSearchSuggestion</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FilesUpload</servlet-name>
		<servlet-class>com.ggv.ayurveda.FilesUpload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FilesUpload</servlet-name>
		<url-pattern>/FilesUpload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoadModifyTable</servlet-name>
		<servlet-class>com.ggv.ayurveda.LoadModifyTable</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadModifyTable</servlet-name>
		<url-pattern>/LoadModifyTable</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddModifiedData</servlet-name>
		<servlet-class>com.ggv.ayurveda.AddModifiedData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddModifiedData</servlet-name>
		<url-pattern>/AddModifiedData</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchModifiedData</servlet-name>
		<servlet-class>com.ggv.ayurveda.SearchModifiedData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchModifiedData</servlet-name>
		<url-pattern>/SearchModifiedData</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteModifiedData</servlet-name>
		<servlet-class>com.ggv.ayurveda.DeleteModifiedData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteModifiedData</servlet-name>
		<url-pattern>/DeleteModifiedData</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>admin</servlet-name>
		<jsp-file>/admin.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>/Admin</url-pattern>
		<url-pattern>/admin</url-pattern>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>admin-menu</servlet-name>
		<jsp-file>/admin-menu.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin-menu</servlet-name>
		<url-pattern>/AdminMenu</url-pattern>
		<url-pattern>/admin-menu</url-pattern>
		<url-pattern>/Admin-Menu</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>plants-list</servlet-name>
		<jsp-file>/plants-list.html</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>plants-list</servlet-name>
		<url-pattern>/plants-list</url-pattern>
		<url-pattern>/Plants-List</url-pattern>
		<url-pattern>/Plants-list</url-pattern>
		<url-pattern>/plants-List</url-pattern>
		<url-pattern>/plant-list</url-pattern>
		<url-pattern>/Plant-List</url-pattern>
		<url-pattern>/Plant-list</url-pattern>
		<url-pattern>/plant-List</url-pattern>
	</servlet-mapping>
		
</web-app>