body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.IBM-Plex {
    font-family: 'IBM Plex Sans', sans-serif !important;
}

.montserrat {
    font-family: 'Montserrat', sans-serif !important;
}

.lora {
    font-family: 'Lora', serif !important;
}

.hero-section {
    background-image: url('images/bg-hero.png');
    background-repeat: no-repeat;
    background-position: bottom;
}


@media screen and (min-width:1280px) {
    .header-section {
        background-image: url('images/header-2xl.svg');
        background-color: transparent;
    }
}

@media screen and (max-width:1280px) {
    .header-section {
        background-image: url('images/header-xl.svg');
    }
}

.plant-section {
    background-image: url('images/bg-plants.png');
}

.plant-title {
    font-family: 'Lora', serif;
}

.plant-subtitle {
    font-family: 'Montserrat', sans-serif;
}

.plant-border {
    cursor: pointer;
}

@media screen and (min-width:1280px) {
    .nav-font-size {
        /* 20px */
        font-size: 1.25rem;
        /* 28px */
        line-height: 1.75rem;
    }
}

@media screen and (min-width:1280px) {
    .nav-font-size {
        /* 20px */
        font-size: 1.25rem;
        /* 28px */
        line-height: 1.75rem;
    }
}



@media screen and (min-width: 1536px) {

    .plant-showcase div:nth-child(2),
    div:nth-child(5) {
        margin-left: 20px;
    }

    .plant-showcase div:nth-child(3n) {
        margin-left: 50px;
    }
}


@media screen and (max-width: 520px) {

    .plant-border {
        height: 7rem;
        width: 6rem;
    }

}